@import url("https://fonts.googleapis.com/css?family=Muli");

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#resume-link {
  margin: 0;
  padding: 0;
}

#resume-link:hover {
  text-decoration: none;
}

#navigation {
  color: white;
  padding: 0.85rem 5rem;
}

#navigation h2 {
  display: inline-block;
}

#navigation p {
  margin: 0;
  cursor: pointer;
}

#navigation a,
#navigation p {
  text-align: center;
  font-size: 1.25rem;
  color: inherit;
}

#navigation a:hover {
  text-decoration: none;
}

#projects-header {
  text-align: center;
  margin-top: 1.5rem;
}

#projects {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.project-image {
  border-radius: 0.5rem;
  width: 290px;
  height: 195px;
  cursor: pointer;
}

.project-square {
  transition: all 0.3s ease-in-out;
}

.project-square:hover {
  transform: scale(1.1);
}

.project-title {
  font-family: "Muli", sans-serif;
  font-size: 1.65rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.modal-img {
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: 2.5rem;
  width: 35%;
}

.modal-p-container {
  width: 35%;
}

.modal-p {
  background-color: white;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 0;
  border-bottom: 1px #e1e4e8 solid !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(225, 228, 232) !important;
}

.modal-h {
  font-family: "Muli", sans-serif;
  font-size: 1.25rem;
}

.modal-description {
  font-size: 1.15rem;
}

.project-link {
  text-align: center;
}

.project-link:hover {
  text-decoration: none;
}

.modal-img:hover,
.modal-description:hover,
.modal-p:hover {
  cursor: default;
}

.project-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.project-modal:hover {
  cursor: pointer;
}

.modal-bottom {
  border-bottom: none;
  border-radius: 0 0 0.5rem 0.5rem;
}

footer {
  width: 100%;
  height: 4rem; /* Set the fixed height of the footer here */
  line-height: 4rem; /* Vertically center the text there */
  text-align: center;
}

footer i {
  font-size: 2.25rem;
  padding: 0 1rem;
}

.sm-view {
  display: none;
}

@media only screen and (max-width: 600px) {
  #projects {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }

  .project-title {
    text-align: center;
  }

  .project-image {
    display: block;
    margin: auto;
  }

  .project-square:hover {
    transform: none;
  }

  .modal-p-container {
    width: 90%;
  }

  .modal-img {
    margin-top: 1rem;
    width: 90%;
  }

  .code-link {
    width: 50%;
  }

  .project-link {
    width: 50%;
  }

  .sm-view {
    display: inline-block;
  }

  .lg-view {
    display: none;
  }
}
