@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

#resume-link{
  margin: 0;
  padding: 0;
}

#resume-link:hover{
  text-decoration: none;
}

#navigation{
  color: white;
  padding: 0.85rem 5rem;
}

#navigation h2{
  display: inline-block;
}

#navigation p{
  margin: 0;
  cursor: pointer;
}

#navigation a, #navigation p{
  text-align: center;
  font-size: 1.25rem;
  color: inherit;
}

#navigation a:hover{
  text-decoration: none;
}

#projects-header{
  text-align: center;
  margin-top: 1.5rem;
}

#projects{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project-image{
  border-radius: 0.5rem;
  width: 290px;
  height: 195px;
}

.project-title{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 1.65rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; /* Set the fixed height of the footer here */
  line-height:4rem; /* Vertically center the text there */
  text-align: center;
}

footer i{
  font-size: 2.25rem;
  padding: 0 1rem;
}
